<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" size="large" routerLink="/auth"></ion-icon>

    </ion-buttons>
    <h1>Mes infos</h1>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">

    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>
        
        <h2>{{ auth.user.surname }} {{ auth.user.name }}</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>Téléphone</ion-label>
      <ion-note slot="end">{{ auth.user.phone }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Heures de Contrat</ion-label>
      <ion-note slot="end">{{ auth.user.contrat }} h/semaine</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-note slot="end">{{ auth.user.email }}</ion-note>
    </ion-item>
    
    
    <!-- Vous pouvez ajouter d'autres informations ici -->

  </ion-list>

</ion-content>
